.contact-container {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71ISbtb6zkL._AC_SY355_.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-start;
  h1 {
    margin-left: 17%;
    margin-top: 3%;
  }
}

.contact-icon {
  margin-left: 17%;
  margin-top: 5%;
  font-size: 2.5rem;
  &:hover {
    color: purple;
  }
}
