.nav-container {
  width: 97%;
  height: 11vh;
  position: sticky;
  top: 0;
  z-index: 100;
  left: 3%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background: none;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  color: white;
  font-size: 1rem;
  
}
.sidebar {
  background-color: #4b285c;
  font-size: 1.5rem;
  height: 20vh;
}

.meta {
  color: white !important;
}

.description {
  color: white !important;
}
.nav{
  &:hover{
    color:white;
  }
}

.logo {
  height: 70px !important;
  width: 70px !important;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topbar {
  color: #52057b;
  margin: 10%;
  font-size: 1.2rem;
  &:hover{
    color:white;
  }
}
.top-nav {
  display: flex;
  position: relative;
  left: 35%;
}

.menu-icon-visiblity {
  font-size: 2rem !important;
  color: #4b285c;
  display: none;
}

@media only screen and (min-width:1090px) and (max-width:1500px){
  .nav-container{
    width: 94%;
  }
}
@media only screen and (min-width: 550px) and (max-width: 1089px) {
  .menu-icon-visiblity {
    display: inline;
  }
  .top-nav {
    display:none;
    right: 35%;
    height: 0px;
    width: 0px;
  }
  .topbar {
    display:none;
    height: 0px;
    width: 0px;
  }
}
@media only screen and (max-width: 549px) {
  .menu-icon-visiblity {
    display: inline;
  }
  .top-nav {
    display:none;
    right: 35%;
    height: 0px;
    width: 0px;
  }
  .topbar {
    display:none;
    height: 0px;
    width: 0px;
  }

  .logo {
    height: 40px !important;
    width: 40px !important;
  }
  

}
