.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  .project {
    width: 46%;
    margin: 14px !important;
    background-color: black;
    
    p {
      
      color:white;
      a {
        color: #4b285c  !important;
      }
    }
  }
}


@media only screen and (max-width: 549px) {
  .project.proj{
    width:70% !important;
  }
  .project-header{
    font-size:2.5rem
  }
  
  
  }

  