body {
  background-color: #170b1d;
}

.serif {
  font-family: "Times New Roman", Times, serif;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

.App {
  background-color: #170b1d;
}

.top-content {
  background-image: url("https://images.unsplash.com/photo-1572509018340-1fc13b5df491?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-attachment: fixed;
}

.main-image {
  margin-top: 5%;
  height: 55vh;
  border-radius: 10%;
  box-shadow: 0 0 50px #4b285c;
}

.my-info {
  width: 33%;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
  height: 75vh;
}
ul {
  list-style-type: square;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 5%;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
  color: #4b285c;
  text-shadow: 1px 1px 2px #ffffff;
}
.header {
  font-size: 3rem !important;
  color: #341b41;
  text-shadow: 1px 1px 1px #ffffff;
}

.content {
  display: flex;
  justify-content: center;
}

i {
  font-size: 3rem;
  color: rgb(75, 7, 107);
  text-shadow: 1px 1px 2px #ffffff;
  margin-top: 2%;
  &:hover {
    color: white;
    font-size: rem;
    animation: pulse 1s infinite;
    animation-timing-function: linear;
  }
}

.about-container {
  color: white !important;
  font-size: 1.5rem !important;
  font-weight: bold;
  margin-right: 15%;
  margin-top: 3%;
  display: flex !important;
  flex-direction: column !important;
  height:50%;
  h2 {
    margin-bottom: 2% !important;
    color: #4b285c !important;
  }
  p {
    margin-left: 3%;
  }
}

.skill-container {
  text-align: center;
  width: 100% !important;
  
}

.github-container {
  text-align: center;
  width: 100%;
  margin-top: 3%;
  
}


.item {
  width: 20% !important;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 #f638dc(0, 0, 0, 0.19);
  &:hover {
    transform: scale3d(1.2, 1.2, 1);
  }
}

.items  {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  height:100%;
  padding-bottom: 2%;
}
.react {
  position: relative;
  top: 13px;
}

.tiny {
  margin-bottom: 5% !important;
  margin-left: 3% !important;
}

.calendar{
  background-color: #341b41;
  width: 50%;
  position: relative;
  left:25%;
  
}




@media only screen and (min-width:550px) and (max-width: 1089px){
  .top-content{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:160vh;
  }
  .items{
    position: relative;
    right:2%;
    top:4%;
  }
  .main-image{
    position: relative;
    right:5%;
  }
  .calendar{
    width:60%;
    left:21%;
  }

}

@media only screen and (max-width:549px){
  .top-content{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:250vh;
  }
  .items{
    position: relative;
    right:2%;
    top:4%;
    flex-direction: column;
    align-items: center;
    height:50%;
    .tiny{
      position: relative;
      left:26%;
    }
  }
  .main-image{
    position: relative;
    right:55%;
  }
  .calendar{
    width:80%;
    left:10%;
  }
}